
.App {
  text-align: center;
  color:#0cac5c
}

.App-header {
  background-color: #02ffea;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15.8px + 10vmin);
  color: rgb(15, 28, 111);
  font-family: Fira Sans;
}

.Classes{
  background-color: #02ffea;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(23px);
  color: rgb(15, 28, 111);
  font-family: Fira Sans;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.1s linear;
  }
}

.App-buttons {
  background-color: #1131e9;
  font-size: calc(10px + 0vmin);
  color: rgb(230, 46, 14);
  font-family: Cantarell;
}

.App-desc {
  background-color: #1181e9;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(25px);
  color: rgb(0, 0, 0);
  font-family: Georgia;
}

.App-link {
  color: #202020;
}

.App-footer{
  
  background-color: #02ffea;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px);
  color: rgb(15, 108, 111);
  font-family: Fira Sans;
}
.Logo {
  background-image: url(./cb.png);
  position:fixed
  /* animation: App-logo-spin infinite 10s linear */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
